@use "base/variables.scss";
@use "base/mixins.scss";

.additional {
  padding-bottom: 35px;
}

.additional__list {
  @include mixins.list;
  margin-bottom: 35px;
}

.additional__gift {
}

.additional__title {
  margin: 0;
  margin-bottom: 35px;
}

@media (min-width: variables.$desktop-width) {
  .additional__list {
    width: 895px;
  }
  .additional__wrapper {
    display: flex;
    gap: 80px;
  }
}
