@use "base/variables";

.button {
  font: 400 16px/20px variables.$oswald-font;
  color: variables.$basic-white;
  background-color: variables.$basic-green;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 10px 0;

  &--hero {
    font-size: 14px;
    line-height: 18px;
  }

  &--gray {
    color: variables.$special-dark-grey;
    background-color: variables.$basic-grey;
  }
}
