@use "base/variables.scss";

.gift {
  height: 300px;
  position: relative;
  background: linear-gradient(rgba(variables.$basic-green, 0.85), rgba(variables.$basic-green, 0.85)), url("../img/cat-in-bag@1x.jpg") no-repeat;
}

.gift__text {
 font: 400 16px/20px variables.$lato-font;
 color: variables.$basic-white;
}
