@use "base/variables.scss";

.hero {
  background: linear-gradient(rgba(variables.$basic-green, 0.85), rgba(variables.$basic-green, 0.85)), url(../img/index-background.jpg) no-repeat;
}

.hero__promo {
  font: 400 14px/14px variables.$oswald-font;
  color: variables.$basic-white;
  text-transform: uppercase;
}
