@use "base/variables.scss";

.hero {
  background-image: linear-gradient(#63a63a, #63a63b);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 303px;
}

.hero__container {
  background-image: url("../img/backgrounds/index-background-mobile.jpg"), linear-gradient(to bottom, #63a63a 303px, #ffffff 303px);
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 20px;
}

.hero__promo {
  font: 400 14px/14px variables.$oswald-font;
  color: variables.$basic-white;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hero__link {
  display: block;
  padding: 10px 44px;
}

.hero__title {
  margin: 0;
  margin-bottom: 23px;
}


@media (min-width: variables.$tablet-width) {
  .hero {
    background-image: none;
  }

  .hero__container {
    background-image: none;
    text-align: left;
    padding-top: 65px;
    position: relative;
    padding-bottom: 0;
    min-height: 875px;
  }

  .hero__title {
    width: 450px;
    margin-bottom: 40px;
    margin-left: 80px;
  }

  .hero__product-variant {
    width: 710px;
    height: 610px;
    position: absolute;
    top: 270px;
    z-index: -1;
    margin-left: 31px;
  }

  .hero__promo {
    font: 400 14px/14px variables.$oswald-font;
    color: variables.$basic-black;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 80px;
  }

  .hero__link {
    padding: 15px 26px;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 80px;
  }
}

@media (min-width: variables.$desktop-width) {
  .hero__container {
    min-height: 565px;
    margin-bottom: 80px;
  }

  .hero__product-variant {
    top: 50px;
    right: 300px;
    width: 552px;
    height: 499px;
  }
}
