@use "base/variables.scss";

.logo__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo__img {
  &--tablet {
    display: none;
  }
}

@media (min-width: variables.$tablet-width) {
  .logo__img {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  .logo__text {
    display: none;
  }
}
