@use "base/variables.scss";
@use "base/mixins.scss";

.program {
  background-color: variables.$back-color-grey;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: variables.$basic-green;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.program__title {
  font: 400 24px/37px variables.$oswald-font;
  color: variables.$basic-black;
  text-transform: uppercase;
  margin: 0;
}

.program__text {
  font: 400 14px/18px variables.$lato-font;
  color: variables.$special-dark-grey;
}

.program__link {
  font: 400 16px/16px variables.$oswald-font;
  text-transform: uppercase;
  color: variables.$basic-black;
}
