$oswald-font: "Oswald", "Arial", sans-serif;
$lato-font: "Lato", "Arial", sans-serif;
$special-dark-grey: #444444;
$basic-green: #68b738;
$basic-white: #ffffff;
$basic-black: #000000;
$back-color-gray: #EAEAEA;
$back-footer-gray:#F2F2F2;
